.vscode
build/
install/
extern/
.venv/
tools/cgpatch/test/pass-tests/*/Output
tools/cgpatch/test/pass-tests/.lit_test_times.txt
tools/cgpatch/test/pass-tests/vcall-detection-test/*.s


.idea/
build*/
.cache/
cmake-build-debug*/
cmake-build-debug-metacg-container/
cmake-build-debug-metacg-container-debug/
cmake-build-debug-metacg-container-release/
cgcollector/test/cgpatch/Output/*

cgcollector/test/cgpatch/.lit_test_times.txt
