name: MetaCG CI

on: 
  push:
  pull_request: 
    types:
      - opened
      - synchronized

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: cmake
      run: cmake -B build -S .
    - name: build
      run: cmake --build build --parallel

  build-container:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: "container/full-build"
          tags: metacg-devel:latest 
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: false
      - name: Run MCG library tests 
        uses: addnab/docker-run-action@v3
        with: 
          image: metacg-devel:latest
          run: /opt/metacg/metacg/build/graph/test/unit/libtests
      - name: Run PGIS library tests 
        uses: addnab/docker-run-action@v3
        with: 
          image: metacg-devel:latest
          run: /opt/metacg/metacg/build/pgis/test/unit/pgistests
      - name: Run target collector tests 
        uses: addnab/docker-run-action@v3
        with: 
          image: metacg-devel:latest
          run: |
            cd /opt/metacg/metacg/graph/test/integration/TargetCollector
            ./TestRunner.sh
      - name: Run call graph merge tests
        uses: addnab/docker-run-action@v3
        with: 
          image: metacg-devel:latest
          run: |
            cd /opt/metacg/metacg/graph/test/integration/CallgraphMerge
            ./MergeTestRunner.sh
      - name: Run cgcollector tests
        uses: addnab/docker-run-action@v3
        with: 
          image: metacg-devel:latest
          run: |
            cd /opt/metacg/metacg/cgcollector/test
            bash run_format_one_test.sh 
            bash run_format_two_test.sh 
      - name: Run cgvalidate tests
        uses: addnab/docker-run-action@v3
        with: 
          image: metacg-devel:latest
          run: |
            cd /opt/metacg/metacg/cgcollector/test/integration
            ./runner.sh build
